@model DNTFrameworkCore.TestWebApp.Models.Roles.RoleIndexViewModel

@{
    LocalizationResourceLocation = "DNTFrameworkCore.TestWebApp";
    ViewData["Title"] = L("Administration.Views.User.Index.Title");
    // ViewBag["ActiveMenu"] = AdministrationMenuNames.UserManagement;
}

<div class="row margin-bottom-5">
    <div class="col-md-12">
        <a class="btn btn-info" asp-modal-link asp-permission="@PermissionNames.Roles_Create" asp-controller="Roles" asp-action="Create">
            <i class="fa fa-plus"></i>
            New Role
        </a>
        <a href="#filterPanel"
           role="button"
           data-toggle="collapse"
           aria-expanded="false"
           aria-controls="filterPanel"
           class="btn btn-info">
            <i class="fa fa-filter"></i>
            Filter
        </a>
        <select name="Permissions" multiple="multiple" asp-items="Model.Permissions.ToSelectListItem()" class="form-control col-md-3">
        </select>
        <!-- Split button -->
        <div class="btn-group">
            <a href="#" role="button" class="btn btn-info">Export To PDF</a>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a href="#">PDF</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Excel</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">CSV</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">XML</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">JSON</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12" id="UsersList">
        @foreach (var item in Model.PagedList.Result.Items)
        {
            <a class="btn btn-secondary" asp-modal-link
               asp-controller="Roles" asp-action="Edit" asp-route-id="@item.Id" asp-permission="@PermissionNames.Roles_Edit">
                <i class="fa fa-pencil"></i>
                @item.Name
            </a>
        }
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>

}