<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore hostingModel="InProcess" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="X-Powered-By" />
        <remove name="X-UA-Compatible" />
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <!--
        <remove name="Cache-Control" /><add name="Cache-Control" value="no-cache, max-age=0, must-revalidate, no-store" /><add name="Pragma" value="no-cache"/><add name="Expires" value="-1"/>
        -->
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <!--Correct mime types-->
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>