@model DNTFrameworkCore.TestWebApp.Models.DeleteConfirmationModel

<div class="modal-header">
    <h4 class="modal-title text-muted">
        <i class="fa fa-info-circle text-danger"></i>
        @Model.Title</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<form action="@Model.Url" asp-antiforgery="true" asp-modal-form="delete-confirmation">

    <div class="modal-body">
        <input name="Id" value="@Model.ModelId" type="hidden"/>  
        @Model.Body  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">
            <i class="fa fa-ban"></i>&nbsp; Cancel
        </button>
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i>&nbsp; Delete
        </button>
    </div>
</form>

    
    